@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte: "Poppins";
    --branco: #FFF;
    --preto-sombra: #3030302f;
    --preto2: #303030;
    --preto3: #434449;
    --azul: #5553E3;
}

body {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    box-shadow: 0px 0px 10px 0px var(--preto-sombra);
    height: 430px;
    width: 360px;
    padding: 20px 0 0 25px;
    border-radius: 10px;
    align-items: start;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

h1 {
    font-family: var(--fonte);
    font-size: 17px;
    color: var(--azul);
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    width: 320px;
}

.input-box {
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--azul);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 310px;
    height: 33px;
    border-radius: 5px;
    gap: 5px;
}

#email {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--fonte);
    font-size: 10px;
    outline: none;
}

select {
    text-indent: 1px;
    text-overflow: '';
    width: 90px;
    background-color: transparent;
    border: none;
    font-family: var(--fonte);
    padding-left: 7px;
    font-size: 10px;
    color: var(--preto3);
    outline: none;
}

#telefone {
    height: 100%;
    width: 90%;
    border-right: none;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid var(--azul);
    font-family: var(--fonte);
    padding-left: 7px;
    font-size: 10px;
    color: var(--preto3);
    outline: none;
}

.icon {
    width: 18px;
}

label {
    display: block;
    font-family: var(--fonte);
    font-size: 11px;
    color: var(--preto2);
    font-weight: 600;
}

.forca-senha {
    position: relative;
    margin-bottom: 15px;
    background-color: transparent;
    flex-direction: row;
    border: 1px solid var(--azul);
    display: flex;
    align-items: center;
    justify-content: end;
    width: 310px;
    height: 33px;
    border-radius: 3px;
    gap: 5px;
}

.forca-senha input {
    height: 100%;
    width: 90%;
    border: none;
    background-color: transparent;
    font-family: var(--fonte);
    font-size: 10px;
    outline: none;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-family: var(--fonte);
    font-size: 10px;
    color: var(--azul);
    background-color: var(--branco);
}

.forca-senha-msg {
    margin-bottom: 10px;
    font-size: 10px;
    font-family: var(--fonte);
    font-weight: 400;
}

.forca-senha-vermelho {
    color: #F75357;
}

.forca-senha-amarelo {
    color: #ED881F;
}

.forca-senha-verde {
    color: #7BBD90;
}

.termos {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.termos p {
    font-family: var(--fonte);
    font-size: 9px;
    color: var(--preto2);
    font-weight: 400;
}

.termos p > a {
    color: var(--azul);
    opacity: 90%;
    text-decoration: underline;
}

.entrar {
    width: 310px;
    height: 33px;
    border: none;
    border-radius: 5px;
    font-family: var(--fonte);
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: var(--azul);
    color: var(--branco);
}

.entrar:hover {
    background-color: #4846c5;
}

.senha {
    font-family: var(--fonte);
    font-size: 10px;
    color: var(--azul);
    transition: .2s;
}

.senha:hover {
    opacity: 80%;
}